__pycache__/
test.*
*test*
.vscode/
LICENSE
*.ipynb
-

#一些插件

mc_server/
python_cmd/
setu/Getpic_former.py

Action.py
clock_in/
majsoul.py
azurlane/
account/

#数据
data/
*.db
data.*
.gitignore

chat/filter.json
.gitignore
