__pycache__/
test.*
*test*
.vscode/
LICENSE
*.ipynb
-

#一些插件
_*/
mc_server/
bilibili/
python_cmd/
setu/Getpic_former.py
maimaidx2/
Action.py
clock_in/
majsoul.py
azurlane/
account/
atribot/
arknight/
nonebot_plugin_fortune/
#数据
data/
!setu/data
setu/data/image

*.db
data.*
.gitignore

chat/filter.json
.gitignore
chat/data_.json

