__pycache__/
test.*
*test*



LICENSE
-

#自用插件
mc_server/

#一些插件
Action.py
clock_in/
*.ipynb
majsoul.py

#数据
rua/data/*.gif
setu/data
data.*
#json数据
chat/*.json
bilibili_live/*.json

maimaidx/data/*.json
.gitignore
